/*===================FONT==========================*/
@font-face{
    font-family: "bebasFont";
    src: url("../fonts/BebasNeue.otf")format("opentype");
	}
body{
   	font-family: "bebasFont";
   	font-weight: bold;
    }
/*==========================carousel css ==============================*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
	height: 500px;
	}
/*=============================LOGO AND SITENAME====================*/
#logo{
	text-align: center
	}
h1{
	font-family: "bebasFont";
	color:red;
	font-size:8em;
	font-weight:bold;
	text-align: center;
	}
#settingsBar{
	color: #000000;
}

/*===========================NAVBAR===========================*/
#navBox{
	background-color: #faaf40;
	}

/*===========================SEARCH AND ADD SALES BOXES================================*/
#searchBox{
    float: left;
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    border: 2px solid black;
    }
#addSale{
    float: left;
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    border: 2px solid black;
    }
.thumbnail{
	margin: auto;
}
.caption{
	text-align: center;
}
#features{
	border: 1px solid;
	
	margin: 10px 10px 10px 10px;
}

/*==================================FOOTER====================================*/
footer{
	background-color: black;
	position:relative;
	bottom : 0;
	width:100%;
	height : 50px;
	margin-top : 40px;
}
/*===================SOCIAL MEDIA ICONS=============================*/

.fa{
	color: #ffffff;
	margin-right: 10px;
}
#copyright{
	color: #ffffff;
	}